header {
    font-size: 32px;
    border-style: solid;
    text-align: center;
    border-color: #FFDB0D;
    background-color: #FFDB0D;
}

body {
    padding: 0;
    margin: 0;
    background-color: #B6D3F0;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    color: white;
    text-shadow: -2px 1px black;
}

img {
    height: auto;
    width: 100%;
}

iframe {
    margin-bottom: 16px;
}

input {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    border-style: none;
    background-color: white;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

#login,
#signup,
#logout {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.button {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    border: solid;
    color: white;
    text-align: center;
    background-color: #FF0040;
}

#authenticationbox {
    justify-content: center;
    background-color: white;
}

#dogepics {
    background-color: #5194D6;
}

#welcomediv {
    background-color: #5194D6;
    border-style: solid;
    border-color: #5194D6;
}

#welcome {
    border-style: solid;
    border-color: #5194D6;
    background-color: #5194D6;
    display: none;
}

#boxes,
#counter {
    border-style: solid;
    border-color: '#FFDB0D';
    color: white;
}

#counter {
    background-color: #5194D6;
}

#dogecoin {
    border-style: solid;
    border-color: #FFDB0D;
    background-color: #FFDB0D;
}